.new {
	margin-top: 2em !important;
}

.new .card-title {
	width: 100%;
	font-size: 1.5em;
	min-height: 1em;
	color: #aaa;
}

.new .time {
	margin: 0;
	padding: 0;
	margin-block: 1em;
	font-size: 1.3em;
	min-height: 1em;
}

.new .time input {
	width: 100%;
	text-align: center;
	font-size: 1em;
	min-height: 1em;
}

.new .done {
	background: dodgerblue;
	cursor: pointer;
}

.new .done:hover {
	filter: drop-shadow(0.1em 0.1em 0.1em cornflowerblue);
}
